*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
body {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
body section{
    border: 1px solid gray;
    width: 50vw;
    height: 50vh;
    position: relative;
}